.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.left {
    margin:0;
    width:40%;
    padding: 64px;
    background: linear-gradient(90deg, #c1a590 50%, white 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 80%;
    border: 6px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.right {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 56px;
}

@media only screen and (max-width: 1080px) {
    .container {
        flex-direction: column;
        justify-content: normal;
    }

    .right {
        width: 100%;
        align-items: center;
        padding: 0 32px 32px 32px;
    }

    .left {
        width: 100%;
        background: linear-gradient(180deg, #c1a590 50%, white 50%);
    }

    .image {
        width: 80%;
        max-width: 240px;
    }

    h1 {
        margin-top: 0;
    }
}